@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@font-face {
    font-family: "Pixel";
    src: url('../fonts/pixelfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    background-color: darkseagreen;
    width: 100%;
    font-family: "Poppins", "Avenir", Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #FC8A17;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    font-family: "Pixel", "Avenir", Helvetica, sans-serif;
    font-size: 1.67em;
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 25px 0px;
    flex-grow: 1;
    text-align: center;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: darkseagreen;
}

/* Content Block Styles */
#wrapper {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.content-block {
    margin: 40px 0;
}

.left_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

/* Heading Styles */
h1 {
    font-size: 3em;
    margin: 0 0 10px;
}

h2 {
    font-size: 2em;
    margin: 0 0 20px;
    font-weight: 300;
}

h3 {
    font-size: 1.75em;
    margin-top: 30px;
}

/* Paragraph Styles */
p {
    font-size: 1.5em;
    line-height: 1.6;
}

/* Contact Links Styles */
.contact-links {
    display: flex;
    justify-content: center;
    gap: 50px; /* Reduced gap for better spacing */
    margin-top: 20px;
}

.contact-icon {
    color: white;
    font-size: 2.5em;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icon i {
    margin-bottom: 5px; /* Space between icon and label */
}

.contact-icon span {
    font-size: 0.5em; /* Smaller text size for the label */
    margin-top: 5px; /* Space above the label */
    color: white;
}

.contact-icon:hover {
    transform: scale(1.2);
    color: #FC8A17;
}

.contact-icon:hover span {
    color: #FC8A17; /* Change label color on hover */
}

#funfacts p{
    font-size: 1.25em;
}



