@font-face {
    font-family: "Pixel";
    src: url('../fonts/pixelfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
      background-color: darkseagreen;
      width: 100%;
      font-family: "Pixel", "Avenir", Helvetica, sans-serif;
      font-size: 2.5em;
      color: white;
  }
  
  nav {
      background-color: #FC8A17;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
  }
  
  nav a {
      margin: 0;
      text-decoration: none;
      color: white;
      padding: 25px 0px; /* Add padding to the links for spacing */
      flex-grow: 1;
      text-align: center;
      display: block;
      transition: background-color 0.3s;
  }
  
  nav a:hover {
      background-color: darkseagreen; /* Change this to your desired hover color */
  }
  
  #wrapper {
      margin: 100px auto;
      font-size: 0.5em;
      width: 70%;
      padding-top: 80px; /* Adjust this value to create the desired space */
      font-family: "Avenir", Helvetica, sans-serif;
      display: flex;
      flex-direction: column; /* Stack content-blocks vertically */
      align-items: center;
  }
  
  .content-block {
      width: 100%; /* Ensure full-width content blocks */
      box-sizing: border-box;
      padding: 20px;
  }
  
  .left_image {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
  }
  
  .portfoliolink {
      text-align: center;
      padding-top: 80px;
      font-family: "Pixel", "Avenir", Helvetica, sans-serif;
  }
  
  .portfoliolink a {
      color: white;
      font-size: 0.5em;
      transition: font-size 0.3s;
      text-decoration: none;
  }
  
  .portfoliolink a:hover {
      font-size: 1em;
      cursor: pointer;
      text-decoration: underline;
  }
  
  .portfoliolink a:visited {
      color: white;
      text-decoration: none;
  }
  
  .imgcontainer {
      margin: 200px;
      text-align: center;
  }
  
  .imgcontainer video {
      margin: 0 auto; /* Horizontally center the video */
      display: block;
  }
  
  .imgcontainer img {
      width: 80%;
      height: auto;
  }
  
  .contact-links {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 3em; /* Adjust the spacing between icons */
  }
  
  .contact-icon {
      color: white;
      font-size: 3em; /* Adjust the icon size */
      transition: color 0.3s, transform 0.3s;
  }
  
  .contact-icon:hover {
      color: #FC8A17; /* Change to your desired hover color */
      transform: scale(1.2); /* Slightly enlarge the icon on hover */
  }
  .highlight {
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold;
}

.hoverable {
    transition: font-size 0.3s, transform 0.3s;
}

.hoverable:hover {
    font-size: 1.2em; /* Adjust the size as needed */
    transform: scale(1.2); /* Slightly enlarge on hover */
    font-weight: bold;
}
